<div>
  <div style="margin-bottom: 10px;">
    <input
      class="form-control"
      type="text"
      placeholder="Search all columns..."
      [(ngModel)]="searchText"
      (input)="updatePagination()" />
  </div>

  <!-- Bảng dữ liệu -->
  <table border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
    <tr>
      <th *ngFor="let column of columns; let i = index" (click)="sort(column)" style="cursor: pointer;">
        {{ column }}
        <!-- Hiển thị biểu tượng sắp xếp -->
        <span *ngIf="sortColumn === column">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>

        <div *ngIf="searchColumnIndex === i" class="column-search-input">
          <input
            type="text"
            [(ngModel)]="columnSearch[column]"
            (input)="onColumnSearch($event, column)"
            placeholder="Search"
            style="margin-top: 5px; width: 100%;" />
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of paginatedData">
      <td *ngFor="let column of columns">{{ row[column] }}</td>
    </tr>
    </tbody>
  </table>

  <div class="table-footer">
    <div class="volcanion-perpage-show" style="margin: 10px 0;">
      <span>Show </span>
      <select (change)="changePageSize($event)">
        <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
      </select>
      <span> / {{ totalItems }}</span>
    </div>

    <div  class="volcanion-pagination-wrapper">
      <button class="volcanion-pagination" [disabled]="currentPage === 1" (click)="goToPage(1)">First</button>
      <button
        class="volcanion-pagination"
        [disabled]="currentPage === 1"
        (click)="goToPage(currentPage - 1)">
        Prev
      </button>

      <button
        class="volcanion-pagination"
        *ngFor="let page of pages"
        [ngClass]="{'active': currentPage === page}"
        [disabled]="page === '...'"
        (click)="goToPage(page)">
        {{ page }}
      </button>

      <button
        class="volcanion-pagination"
        [disabled]="currentPage === totalPage"
        (click)="goToPage(currentPage + 1)">
        Next
      </button>
      <button class="volcanion-pagination" [disabled]="currentPage === totalPage" (click)="goToPage(totalPage)">Last</button>
    </div>
  </div>
</div>
